@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
$white: #fff;
$gray: rgba(72, 72, 72, .1);
$coral: #ff5a5f;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

.page {
  .hero {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg);
    background-size: cover;
    position: relative;
    padding-top: 100px;
    overflow: hidden;
    * {
      position: relative;
      z-index: 1;
    }
    &:after {
      z-index: 0;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0; 
      top: 0;
      background: #000;
      opacity: .2;
    }

    video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.2);
      z-index: 0;
    }
    header {
      width: 100%;
      font-size: 14px;
      font-weight: 300;
      height: 50px;
      display: flex;
      justify-content: flex-end;
      padding: 0 15px;
      box-sizing: border-box;
      color: $white ;
      background: url(https://image.flaticon.com/icons/svg/2111/2111283.svg);
      background-repeat: no-repeat;
      background-position: 10px center;
      background-size: 30px;
      align-items: center;
      position: fixed;
      top: 0;
    }
  }
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.panel {
  background: $white;
  padding: 15px;
  border-radius: 3px;
  &.login {
    max-width: 300px;
    font-size: 12px;
    animation: show-panel 2s forwards;
    form {
      flex-direction: column;
    }
    .button {
      animation: move-button 2s forwards;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  text-transform: uppercase;
}

input[type='text'] {
  height: 35px;
  line-height: 35px;
  border: 1px solid $gray;
  padding: 0 15px;
  width: 100%;
  border-radius: 3px;
  &:focus {
    outline: none;
    border-color: green;
  }
}

.button {
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 0 30px;
  margin-right: 15px;
  &.primary {
    background-color: $coral;
    color: $white;
    &:hover {
      transition: .5s;
      background-color: rgba($coral, .7)
    }
  }
  &.secondary {
    border: 2px solid $coral;
    color: $coral;
    font-weight: bold;
    &:hover {
      transition: .5s;
      background-color: rgba($coral, .5);
      color: $white;
    }
  }
  &:last-of-type {
    margin-right: 0;
  }
}


@keyframes show-panel {
  0% {
    opacity: 0;
    transform: scale(.8);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move-button {
  0% {
    left: -15px;
    opacity: 0;
  }
  51% {
    left: -15px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.recommend {
  h1 {
    text-align: center;
    margin: 50px 0;
  }
  .items {
    display: flex;
    margin-bottom: 50px;
    .item {
      width: 25%;
      padding-bottom: 25px;
      display: flex;
      color: $white;
      flex-direction: column;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      height: 200px;
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;  
      }
      * {
        position: relative;
        z-index: 1;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 768px) {
  .recommend{
    .items {
      flex-wrap: wrap;
      .item {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
      }
    }
  }
}